extends layout

block content
	.row
		.col-lg-2
			#spa-sidebar
		.col-lg-10
			div#spa-container
				ul#spa-performance-list   
			
	script
		$(function () { spa.initModule( $('#spa-container') ); });

