ul#spa-performance-list
	border 1px solid #ddd
	
	li.spa-performance-item
		ul.spa-performance-user-data
			li			
				padding-top 6px
			li.image
				padding-top 0 !important

	li.spa-performance-item:nth-child(odd)
		background #ddd